:root {
    --bg-main: #F4F6F8;
    --bg-card: #FFFFFF;

    --brand-navy: #192255;
    --brand-navy-light: #232D68;

    --accent-primary: #FFB800;
    --accent-dark: #E8AF00;

    --text-p: #1E293B;
    --text-s: #64748B;

    --shadow: 0 10px 25px  -5px rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-main);
}
